*.pyc
*.hdf5
*.h5
*.log
*.pkl
*.json
*.pdf
*.txt
*.png
*.jpg
*.xml
*.avi
*.mp4
*.npz
*.csv
*.ipynb_checkpoints
*.ipynb
*tf.data*
*tf.index*
checkpoint
*.coverage
*.npy
*.p
*.zip
*.iml
*.jpeg
*.tgz

!.github/manifest.xml

dist/*
build/*
pypaz.egg-info/
.pytest_cache/

docs/site/*
docs/sources/*
docs/theme/fonts/*
docs/theme/img/*

install.sh
