*.pyc
*.hdf5
*.log
*.pkl
*.json
*.pdf
*.txt
*.png
*.jpg
*.xml
*.avi
*.mp4
*.npz
*.ipynb_checkpoints
*.ipynb

dist/*
build/*
Paz.egg-info/*
.pytest_cache/

docs/site/*
docs/sources/*
docs/theme/fonts/*
docs/theme/img/*

install.sh
examples/keypoint_estimation/
